/*styles go here*/

p {
  color: #2F7F74;
  font-family: "Neuton", Georgia, "Times New Roman", serif;
  text-align: center;
}

h1 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #007F6E;
}

h2 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #007F6E;
}

.italic {font-style: italic;}

body {
  background-color: #7FFFF0;
}

#container {
  width: 80%;
/*  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;*/
  margin: 0 auto;
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #FDFFFD;
  background-color: #007F6E;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

#nav a:hover, #nav a:active {
  background-color: #2F7F74;
}

img {
  border:none;
}
